{namespace com.cisco.stash.plugin.hook.sparknotifyhook}

/**
 * @param? config
 * @param? errors
 */
{template .view}
    {call aui.form.textField}
        {param id: 'roomName' /}
        {param value: $config ? $config['roomName'] : null /}
        {param labelContent: 'Room Name'  /}
        {param descriptionText: 'Enter your Cisco Spark room name' /}
        {param errorTexts: $errors ? $errors['roomName'] : null /}
    {/call}
{/template}
